services:
  zenn:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - USER_ID=$USER_ID
        - GROUP_ID=$GROUP_ID
    volumes:
      - ../:/workspace
    ports:
      - 8000:8000
    tty: true
    command: tail -f /dev/null
